doctype html
html
  head
    title= "Tensorflow examples"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/dashboard.css" rel="stylesheet")
    link(href="/stylesheets/styles.css" rel="stylesheet")
    
    // - Load the coco-ssd model.
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js")



  body
    header(class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#") Tensorflow examples

    div(class="container-fluid")
      div(class="row")
        nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
          div(class="position-sticky pt-3")
            ul(class="nav flex-column")
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="/") Home
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="image_classification") Image classification
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="object_detection") Object detection          
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="toxicity") Toxicity          
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="qna") NLP Question and Answer       
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="pose") Pose detection             
              li(class="nav-item")
                a(class="nav-link active" aria-current="page" href="handpose") Hand Pose detection             
        
      </div>
    </nav>

    main(class="col-md-9 ms-sm-auto col-lg-10 px-md-4")
        block content
  </div>
</div>
    
